## Series Basics

In [3]:
import numpy as np
import pandas as pd

In [7]:
pd.__version__

'2.2.2'

In [17]:
array = np.arange(5)

series = pd.Series(array)
series

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [11]:
pd.Series(np.arange(5))

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [13]:
pd.Series(np.arange(5), name = 'Test Array')

0    0
1    1
2    2
3    3
4    4
Name: Test Array, dtype: int32

In [15]:
pd.Series(np.arange(6).reshape(3, 2), name = 'Test Array')

ValueError: Data must be 1-dimensional, got ndarray of shape (3, 2) instead

In [19]:
series.values

array([0, 1, 2, 3, 4])

In [21]:
series.size

5

In [29]:
series.values.mean() #Numpy method

2.0

In [31]:
series.mean() #Pandas method

2.0

In [33]:
series.index

RangeIndex(start=0, stop=5, step=1)

In [39]:
series.index = [10, 20, 30, 40, 50]

series

10    0
20    1
30    2
40    3
50    4
dtype: int32

In [41]:
series.name = 'special series'

In [43]:
series

10    0
20    1
30    2
40    3
50    4
Name: special series, dtype: int32

In [45]:
series.dtype

dtype('int32')

## Data Type & Type Conversion

In [49]:
import numpy as np
import pandas as pd

In [53]:
pd.Series(range(5))

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [55]:
pd.Series(range(5)).astype('float')

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

In [57]:
pd.Series(range(5)).astype('bool')

0    False
1     True
2     True
3     True
4     True
dtype: bool

In [59]:
pd.Series(range(5)).astype('object')

0    0
1    1
2    2
3    3
4    4
dtype: object

In [67]:
pd.Series(range(5)).astype('string')

0    0
1    1
2    2
3    3
4    4
dtype: string

In [69]:
pd.Series(range(5)).astype('bool').sum()

4

In [71]:
pd.Series(range(5)).astype('bool').mean()

0.8

In [73]:
pd.Series(range(5)).astype('string').mean()

TypeError: Cannot perform reduction 'mean' with string dtype

In [75]:
pd.Series(['a', 'b', 'c'])

0    a
1    b
2    c
dtype: object

In [77]:
pd.Series(['a', 'b', 'c']).astype('int')

ValueError: invalid literal for int() with base 10: 'a'

### Demo

In [83]:
import numpy as np
import pandas as pd

ages = np.array([25, 12, 15, 64, 35, 80, 45, 10, 22, 55])

ages_series = pd.Series(ages)

ages_float = ages_series.astype('float')

ages_float

0    25.0
1    12.0
2    15.0
3    64.0
4    35.0
5    80.0
6    45.0
7    10.0
8    22.0
9    55.0
dtype: float64

### Assignment 1

In [86]:
# import libraries needed
import numpy as np
import pandas as pd

In [116]:
# create a DataFrame from the oil file, drop missing values
oil = pd.read_csv(r"D:\Self_Study\Udemy\Python\Python Data Analysis NumPy & Pandas Masterclass\Pandas+Course+Resources\Pandas Course Resources\retail\oil.csv").dropna()

# Grab 100 rows of oil prices
oil_array = np.array(oil["dcoilwtico"].iloc[1000:1100])

oil_array

array([52.22, 51.44, 51.98, 52.01, 52.82, 54.01, 53.8 , 53.75, 52.36,
       53.26, 53.77, 53.98, 51.95, 50.82, 52.19, 53.01, 52.36, 52.45,
       51.12, 51.39, 52.33, 52.77, 52.38, 52.14, 53.24, 53.18, 52.63,
       52.75, 53.9 , 53.55, 53.81, 53.01, 52.19, 52.37, 52.99, 53.84,
       52.96, 53.21, 53.11, 53.41, 53.41, 54.02, 53.61, 54.48, 53.99,
       54.04, 54.  , 53.82, 52.63, 53.33, 53.19, 52.68, 49.83, 48.75,
       48.05, 47.95, 47.24, 48.34, 48.3 , 48.34, 47.79, 47.02, 47.29,
       47.  , 47.3 , 47.02, 48.36, 49.47, 50.3 , 50.54, 50.25, 50.99,
       51.14, 51.69, 52.25, 53.06, 53.38, 53.12, 53.19, 52.62, 52.46,
       50.49, 50.26, 49.64, 48.9 , 49.22, 49.22, 48.96, 49.31, 48.83,
       47.65, 47.79, 45.55, 46.23, 46.46, 45.84, 47.28, 47.81, 47.83,
       48.86])

In [118]:
oil_series = pd.Series(oil_array, name = 'oil_series')

oil_series

0     52.22
1     51.44
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98    47.83
99    48.86
Name: oil_series, Length: 100, dtype: float64

In [120]:
print(f'Data Type: {oil_series.dtype}')
print(f'Name: {oil_series.name}')
print(f'Size: {oil_series.size}')
print(f'Index: {oil_series.index}')

Data Type: float64
Name: oil_series
Size: 100
Index: RangeIndex(start=0, stop=100, step=1)

In [122]:
oil_series.mean()

51.128299999999996

In [124]:
oil_series = oil_series.astype('int')
oil_series

0     52
1     51
2     51
3     52
4     52
      ..
95    45
96    47
97    47
98    47
99    48
Name: oil_series, Length: 100, dtype: int32

In [126]:
oil_series.mean().round(2)

50.66

## Series Index & Custom Slices

In [129]:
import pandas as pd
import numpy as np

In [131]:
my_series = pd.Series(range(5))

my_series

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [133]:
my_series[3]

3

In [135]:
my_series[1:3]

1    1
2    2
dtype: int64

In [137]:
my_series[1::2]

1    1
3    3
dtype: int64

In [139]:
my_series = pd.Series(range(5), index=['Day 0', 'Day 1', 'Day 2', 'Day 3', 'Day 4'])

my_series

Day 0    0
Day 1    1
Day 2    2
Day 3    3
Day 4    4
dtype: int64

In [179]:
my_series['Day 2']

2

In [143]:
my_series['Day 2':'Day 3']

Day 2    2
Day 3    3
Day 4    4
dtype: int64

In [145]:
my_series[::2]

Day 0    0
Day 2    2
Day 4    4
dtype: int64

In [147]:
my_series[1::2]

Day 1    1
Day 3    3
dtype: int64

## ILOC Method (Index position based slicing)

In [150]:
my_series = pd.Series(range(5), index=['Day 0', 'Day 1', 'Day 2', 'Day 3', 'Day 4'])

my_series

Day 0    0
Day 1    1
Day 2    2
Day 3    3
Day 4    4
dtype: int64

In [152]:
my_series.iloc[-1]

4

In [158]:
my_series.iloc[[1, 3, 4]]

Day 1    1
Day 3    3
Day 4    4
dtype: int64

In [160]:
my_series.iloc[1:]

Day 1    1
Day 2    2
Day 3    3
Day 4    4
dtype: int64

## LOC Method (Label Name based index slicing) (ILOC and LOC in integer based indexing work the same way)

In [183]:
my_series = pd.Series(range(5), index=['Day 0', 'Day 1', 'Day 2', 'Day 3', 'Day 4'])

my_series

Day 0    0
Day 1    1
Day 2    2
Day 3    3
Day 4    4
dtype: int64

In [185]:
my_series.loc['Day 2']

2

In [197]:
my_series.loc['Day 1': 'Day 3']

Day 1    1
Day 2    2
Day 3    3
dtype: int64

In [199]:
my_series.index = [0, 2, 3, 100, 5]

In [201]:
my_series

0      0
2      1
3      2
100    3
5      4
dtype: int64

In [203]:
my_series.loc[0:3]

0    0
2    1
3    2
dtype: int64

In [205]:
my_series.loc[0:5]

0      0
2      1
3      2
100    3
5      4
dtype: int64

In [213]:
my_series.reset_index(drop=True)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [221]:
my_series.reset_index(drop=True).loc[:3]

0    0
1    1
2    2
3    3
dtype: int64

In [223]:
my_series.reset_index(drop=True).iloc[:3]

0    0
1    1
2    2
dtype: int64

In [225]:
my_series[my_series != 2]

0      0
2      1
100    3
5      4
dtype: int64

## Duplicate Index Values

In [229]:
import pandas as pd
import numpy as np

In [231]:
my_series = pd.Series(range(5), index=['day 0', 'day 0', 'day 0', 'day 2', 'day 2'])

my_series

day 0    0
day 0    1
day 0    2
day 2    3
day 2    4
dtype: int64

In [233]:
my_series.index

Index(['day 0', 'day 0', 'day 0', 'day 2', 'day 2'], dtype='object')

In [235]:
my_series['day 0']

day 0    0
day 0    1
day 0    2
dtype: int64

In [237]:
my_series['day 0' : 'day 2']

day 0    0
day 0    1
day 0    2
day 2    3
day 2    4
dtype: int64

In [241]:
my_series['day 0'][1]

C:\Users\Pain\AppData\Local\Temp\ipykernel_11240\2875445072.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  my_series['day 0'][1]

1

In [243]:
my_series.reset_index()

   index  0
0  day 0  0
1  day 0  1
2  day 0  2
3  day 2  3
4  day 2  4

In [245]:
my_series.reset_index(drop=True)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [252]:
my_series.reset_index(drop=True).iloc[2:4]

2    2
3    3
dtype: int64

In [254]:
my_series.reset_index(drop=True).loc[2:4]

2    2
3    3
4    4
dtype: int64

In [262]:
my_series.reset_index(drop=True).loc[2:4]

2    2
3    3
4    4
dtype: int64

In [ ]:
my_series.reset_index(drop=True).loc[2:4, ['day', 'sales']]

### Demo

In [265]:
import pandas as pd

# Provided series of ages with duplicate index values
ages = pd.Series(
    [25, 30, 35, 40, 45, 25, 30], 
    index=['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Alice', 'Bob']
)


# Display the series with duplicate index values




# Reset the index of the series to remove duplicates and maintain a unique numerical index
unique_ages = ages.reset_index(drop=True)



# Output the result
unique_ages

0    25
1    30
2    35
3    40
4    45
5    25
6    30
dtype: int64

### Assignment 3

In [268]:
# create a DataFrame from the oil file, drop missing values
oil = pd.read_csv(r"D:\Self_Study\Udemy\Python\Python Data Analysis NumPy & Pandas Masterclass\Pandas+Course+Resources\Pandas Course Resources\retail\oil.csv").dropna()

# Grab 100 rows of oil prices
oil_array = np.array(oil["dcoilwtico"].iloc[1000:1100])

oil_array

array([52.22, 51.44, 51.98, 52.01, 52.82, 54.01, 53.8 , 53.75, 52.36,
       53.26, 53.77, 53.98, 51.95, 50.82, 52.19, 53.01, 52.36, 52.45,
       51.12, 51.39, 52.33, 52.77, 52.38, 52.14, 53.24, 53.18, 52.63,
       52.75, 53.9 , 53.55, 53.81, 53.01, 52.19, 52.37, 52.99, 53.84,
       52.96, 53.21, 53.11, 53.41, 53.41, 54.02, 53.61, 54.48, 53.99,
       54.04, 54.  , 53.82, 52.63, 53.33, 53.19, 52.68, 49.83, 48.75,
       48.05, 47.95, 47.24, 48.34, 48.3 , 48.34, 47.79, 47.02, 47.29,
       47.  , 47.3 , 47.02, 48.36, 49.47, 50.3 , 50.54, 50.25, 50.99,
       51.14, 51.69, 52.25, 53.06, 53.38, 53.12, 53.19, 52.62, 52.46,
       50.49, 50.26, 49.64, 48.9 , 49.22, 49.22, 48.96, 49.31, 48.83,
       47.65, 47.79, 45.55, 46.23, 46.46, 45.84, 47.28, 47.81, 47.83,
       48.86])

In [272]:
dates = np.array(oil['date'].iloc[1000:1100])

dates

array(['2016-12-20', '2016-12-21', '2016-12-22', '2016-12-23',
       '2016-12-27', '2016-12-28', '2016-12-29', '2016-12-30',
       '2017-01-03', '2017-01-04', '2017-01-05', '2017-01-06',
       '2017-01-09', '2017-01-10', '2017-01-11', '2017-01-12',
       '2017-01-13', '2017-01-17', '2017-01-18', '2017-01-19',
       '2017-01-20', '2017-01-23', '2017-01-24', '2017-01-25',
       '2017-01-26', '2017-01-27', '2017-01-30', '2017-01-31',
       '2017-02-01', '2017-02-02', '2017-02-03', '2017-02-06',
       '2017-02-07', '2017-02-08', '2017-02-09', '2017-02-10',
       '2017-02-13', '2017-02-14', '2017-02-15', '2017-02-16',
       '2017-02-17', '2017-02-21', '2017-02-22', '2017-02-23',
       '2017-02-24', '2017-02-27', '2017-02-28', '2017-03-01',
       '2017-03-02', '2017-03-03', '2017-03-06', '2017-03-07',
       '2017-03-08', '2017-03-09', '2017-03-10', '2017-03-13',
       '2017-03-14', '2017-03-15', '2017-03-16', '2017-03-17',
       '2017-03-20', '2017-03-21', '2017-03-22', '2017-03-23',
       '2017-03-24', '2017-03-27', '2017-03-28', '2017-03-29',
       '2017-03-30', '2017-03-31', '2017-04-03', '2017-04-04',
       '2017-04-05', '2017-04-06', '2017-04-07', '2017-04-10',
       '2017-04-11', '2017-04-12', '2017-04-13', '2017-04-17',
       '2017-04-18', '2017-04-19', '2017-04-20', '2017-04-21',
       '2017-04-24', '2017-04-25', '2017-04-26', '2017-04-27',
       '2017-04-28', '2017-05-01', '2017-05-02', '2017-05-03',
       '2017-05-04', '2017-05-05', '2017-05-08', '2017-05-09',
       '2017-05-10', '2017-05-11', '2017-05-12', '2017-05-15'],
      dtype=object)

In [274]:
oil_series = pd.Series(oil_array, name = 'oil_series', index=dates)

oil_series

2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_series, Length: 100, dtype: float64

In [296]:
oil_series.iloc[0:10].values.mean()

52.765

In [316]:
oil_series.iloc[-10:].values.mean()

47.13

In [312]:
oil_series.loc['2017-01-01':'2017-01-07'].reset_index(drop=True)

0    52.36
1    53.26
2    53.77
3    53.98
Name: oil_series, dtype: float64

## Filtering  Series

In [320]:
import pandas as pd
import numpy as np

In [322]:
my_series = pd.Series(range(5), index=['day 0', 'day 0', 'day 0', 'day 2', 'day 2'])

my_series

day 0    0
day 0    1
day 0    2
day 2    3
day 2    4
dtype: int64

In [324]:
my_series != 2

day 0     True
day 0     True
day 0    False
day 2     True
day 2     True
dtype: bool

In [326]:
my_series.loc[my_series != 2]

day 0    0
day 0    1
day 2    3
day 2    4
dtype: int64

In [328]:
my_series.loc[~(my_series != 2)]

day 0    2
dtype: int64

In [330]:
my_series.loc[my_series.isin([1, 2])]

day 0    1
day 0    2
dtype: int64

In [332]:
my_series.loc[my_series > 2]

day 2    3
day 2    4
dtype: int64

In [334]:
my_series[~(my_series > 2)]

day 0    0
day 0    1
day 0    2
dtype: int64

In [336]:
my_series[my_series.gt(2)]

day 2    3
day 2    4
dtype: int64

In [340]:
mask = my_series.isin([1, 2]) & (my_series > 2)

my_series.loc[mask]

Series([], dtype: int64)

In [342]:
my_series in [1 ,2]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

## Sorting Series

In [346]:
import pandas as pd
import numpy as np

In [350]:
my_series = pd.Series(range(5), index=['day 0', 'day 1', 'day 2', 'day 3', 'day 4'])

my_series

day 0    0
day 1    1
day 2    2
day 3    3
day 4    4
dtype: int64

In [352]:
my_series.sort_values()

day 0    0
day 1    1
day 2    2
day 3    3
day 4    4
dtype: int64

In [356]:
my_series.sort_values(ascending=False)

day 4    4
day 3    3
day 2    2
day 1    1
day 0    0
dtype: int64

In [ ]:
my_series.sort_values(ascending=False, inplace=True)

In [358]:
my_series.sort_index()

day 0    0
day 1    1
day 2    2
day 3    3
day 4    4
dtype: int64

In [360]:
my_series.sort_index(ascending=False)

day 4    4
day 3    3
day 2    2
day 1    1
day 0    0
dtype: int64

### Demo

In [364]:
import pandas as pd

# Provided series of ages
ages = pd.Series(
    [42, 37, 29, 52, 26, 42, 37], 
    index=['Beth', 'Fred', 'Max', 'Janet', 'Liz', 'Juan', 'Xiu']
)


# Output the original unsorted ages


# Sort the series by age values in ascending order
sorted_ages = ages.sort_values()



# Output the sorted ages
sorted_ages

Liz      26
Max      29
Fred     37
Xiu      37
Beth     42
Juan     42
Janet    52
dtype: int64

### Assignment 5

In [369]:
# list of dates to be used to solve bullet 3

dates = [
    "2016-12-22",
    "2017-05-03",
    "2017-01-06",
    "2017-03-05",
    "2017-02-12",
    "2017-03-21",
    "2017-04-14",
    "2017-04-15",
]

In [371]:
oil_series

2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_series, Length: 100, dtype: float64

In [396]:
oil_series.sort_values().iloc[:10].sort_index(ascending=False)

2017-05-10    47.28
2017-05-09    45.84
2017-05-08    46.46
2017-05-05    46.23
2017-05-04    45.55
2017-03-27    47.02
2017-03-23    47.00
2017-03-22    47.29
2017-03-21    47.02
2017-03-14    47.24
Name: oil_series, dtype: float64

In [400]:
mask = oil_series.index.isin(dates) & (oil_series <= 50)
oil_series[mask]

2017-03-21    47.02
2017-05-03    47.79
Name: oil_series, dtype: float64

## Numeric(Arithmetic) Series Operations

In [405]:
my_series = pd.Series([1, np.NaN, 2, 3, 4], index=['day 0', 'day 1', 'day 2', 'day 3', 'day 4'])

my_series

day 0    1.0
day 1    NaN
day 2    2.0
day 3    3.0
day 4    4.0
dtype: float64

In [407]:
my_series + 1

day 0    2.0
day 1    NaN
day 2    3.0
day 3    4.0
day 4    5.0
dtype: float64

In [409]:
my_series.add(1)

day 0    2.0
day 1    NaN
day 2    3.0
day 3    4.0
day 4    5.0
dtype: float64

In [417]:
my_series2 = my_series.add(1, fill_value=0).astype('int')

my_series2

day 0    2
day 1    1
day 2    3
day 3    4
day 4    5
dtype: int32

In [419]:
my_series2 / 2

day 0    1.0
day 1    0.5
day 2    1.5
day 3    2.0
day 4    2.5
dtype: float64

In [421]:
my_series2 * 2

day 0     4
day 1     2
day 2     6
day 3     8
day 4    10
dtype: int32

In [423]:
my_series2 // 2

day 0    1
day 1    0
day 2    1
day 3    2
day 4    2
dtype: int32

In [425]:
my_series + my_series2

day 0    3.0
day 1    NaN
day 2    5.0
day 3    7.0
day 4    9.0
dtype: float64

In [427]:
my_series.add(my_series2, fill_value=0)

day 0    3.0
day 1    1.0
day 2    5.0
day 3    7.0
day 4    9.0
dtype: float64

In [429]:
(my_series + my_series2) / 2

day 0    1.5
day 1    NaN
day 2    2.5
day 3    3.5
day 4    4.5
dtype: float64

In [431]:
(my_series + my_series2 * 2) / 2

day 0    2.5
day 1    NaN
day 2    4.0
day 3    5.5
day 4    7.0
dtype: float64

## Text Series Operations

In [435]:
string_series = pd.Series(['day 0', 'day 1', 'day 2', 'day 3', 'day 4'])

string_series

0    day 0
1    day 1
2    day 2
3    day 3
4    day 4
dtype: object

In [437]:
string_series.str.contains('1')

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [439]:
string_series.str.upper().str.contains('day 1')

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [441]:
string_series.str.upper().str.contains('DAY 1')

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [445]:
string_series.str.strip('day ').astype('int')

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [449]:
string_series.str[-1]

0    0
1    1
2    2
3    3
4    4
dtype: object

In [451]:
string_series.str[-1].astype('int')

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [453]:
string_series.str[1:3]

0    ay
1    ay
2    ay
3    ay
4    ay
dtype: object

In [457]:
string_series.str.split(' ')

0    [day, 0]
1    [day, 1]
2    [day, 2]
3    [day, 3]
4    [day, 4]
dtype: object

In [459]:
string_series.str.split(' ', expand=True)

     0  1
0  day  0
1  day  1
2  day  2
3  day  3
4  day  4

### Demo

In [495]:
import pandas as pd

# Provided series with combined age and label data
age_data = pd.Series(['Adult 25', 'Child 12', 'Adult 64', 'Teen 17', 'Adult 45'])

# Split the string to separate the age from the labels
split_data = age_data.str.split(' ', expand=True)


# Convert the second column to numeric to represent age.
# Note: Column '1' after the split contains the age data.
split_data.columns = ['age_group', 'age']
split_data['age'] = split_data['age'].astype('int')
#Output the result
split_data

  age_group  age
0     Adult   25
1     Child   12
2     Adult   64
3      Teen   17
4     Adult   45

In [501]:
import pandas as pd

# Provided series with combined age and label data
age_data = pd.Series(['Adult 25', 'Child 12', 'Adult 64', 'Teen 17', 'Adult 45'])

# Split the string to separate the age from the labels
split_data = age_data.str.split(' ', expand=True)


# Convert the second column to numeric to represent age.
# Note: Column '1' after the split contains the age data.
split_data[1] = split_data[1].astype('int')
#Output the result
split_data

       0   1
0  Adult  25
1  Child  12
2  Adult  64
3   Teen  17
4  Adult  45

### Assignment 6

In [571]:
((oil_series * 1.1) + 2).round(3)

2016-12-20    59.442
2016-12-21    58.584
2016-12-22    59.178
2016-12-23    59.211
2016-12-27    60.102
               ...
2017-05-09    52.424
2017-05-10    54.008
2017-05-11    54.591
2017-05-12    54.613
2017-05-15    55.746
Name: oil_series, Length: 100, dtype: float64

In [573]:
max_price_differential = (oil_series - oil_series.max()) / oil_series.max()

In [575]:
max_price_differential

2016-12-20   -0.041483
2016-12-21   -0.055800
2016-12-22   -0.045888
2016-12-23   -0.045338
2016-12-27   -0.030470
                ...
2017-05-09   -0.158590
2017-05-10   -0.132159
2017-05-11   -0.122430
2017-05-12   -0.122063
2017-05-15   -0.103157
Name: oil_series, Length: 100, dtype: float64

In [645]:
date = pd.Series(oil_series.index)
date.str.split('-', expand=True)[1].astype(int)

0     12
1     12
2     12
3     12
4     12
      ..
95     5
96     5
97     5
98     5
99     5
Name: 1, Length: 100, dtype: int32

In [655]:
month = oil_series.index.str[5:7].astype('int')
pd.Series(month)

0     12
1     12
2     12
3     12
4     12
      ..
95     5
96     5
97     5
98     5
99     5
Length: 100, dtype: int32

## Numeric Series Aggregation

In [4]:
import pandas as pd
import numpy as np

In [10]:
transactions = pd.read_csv(r"D:\Self_Study\Udemy\Python\Python Data Analysis NumPy & Pandas Masterclass\Pandas+Course+Resources\Pandas Course Resources\retail\transactions.csv")

transactions_series = pd.Series(transactions['transactions'])

transactions_series

0         770
1        2111
2        2358
3        3487
4        1922
         ...
83483    2804
83484    1573
83485    2255
83486     932
83487     802
Name: transactions, Length: 83488, dtype: int64

In [12]:
transactions_series.iloc[:5]

0     770
1    2111
2    2358
3    3487
4    1922
Name: transactions, dtype: int64

In [16]:
transactions_series.count()

83488

In [18]:
transactions_series.sum()

141478945

In [20]:
transactions_series.mean()

1694.6021583940208

In [34]:
transactions_series.quantile([.5], interpolation='nearest')

0.5    1393
Name: transactions, dtype: int64

In [36]:
transactions_series.iloc[:5]

0     770
1    2111
2    2358
3    3487
4    1922
Name: transactions, dtype: int64

In [42]:
transactions_series.iloc[:5].quantile([.4])

0.4    2035.4
Name: transactions, dtype: float64

In [44]:
transactions_series.iloc[:5].quantile([.4], interpolation='nearest')

0.4    2111
Name: transactions, dtype: int64

## Categorical Series Aggregation

In [50]:
string_series = pd.Series(['day 0', 'day 0', 'day 2', 'day 2', 'day 4'])

string_series

0    day 0
1    day 0
2    day 2
3    day 2
4    day 4
dtype: object

In [52]:
string_series.nunique()

3

In [54]:
string_series.unique()

array(['day 0', 'day 2', 'day 4'], dtype=object)

In [56]:
string_series.value_counts()

day 0    2
day 2    2
day 4    1
Name: count, dtype: int64

In [58]:
string_series.value_counts(normalize=True)

day 0    0.4
day 2    0.4
day 4    0.2
Name: proportion, dtype: float64

### Demo

In [64]:
import pandas as pd

# Provided series of age groups
age_groups = pd.Series([
    'Adult', 'Child', 'Adult', 'Teen', 'Adult', 
    'Child', 'Teen', 'Adult', 'Adult', 'Adult'
])


# Calculate the proportion of each age group
age_group_proportions = age_groups.value_counts(normalize=True)



# Output the proportions
age_group_proportions

Adult    0.6
Child    0.2
Teen     0.2
Name: proportion, dtype: float64

### Assignment 7

In [70]:
# create a DataFrame from the oil file, drop missing values
oil = pd.read_csv(r"D:\Self_Study\Udemy\Python\Python Data Analysis NumPy & Pandas Masterclass\Pandas+Course+Resources\Pandas Course Resources\retail\oil.csv").dropna()

# Grab 100 rows of oil prices
oil_array = np.array(oil["dcoilwtico"].iloc[1000:1100])

oil_array

array([52.22, 51.44, 51.98, 52.01, 52.82, 54.01, 53.8 , 53.75, 52.36,
       53.26, 53.77, 53.98, 51.95, 50.82, 52.19, 53.01, 52.36, 52.45,
       51.12, 51.39, 52.33, 52.77, 52.38, 52.14, 53.24, 53.18, 52.63,
       52.75, 53.9 , 53.55, 53.81, 53.01, 52.19, 52.37, 52.99, 53.84,
       52.96, 53.21, 53.11, 53.41, 53.41, 54.02, 53.61, 54.48, 53.99,
       54.04, 54.  , 53.82, 52.63, 53.33, 53.19, 52.68, 49.83, 48.75,
       48.05, 47.95, 47.24, 48.34, 48.3 , 48.34, 47.79, 47.02, 47.29,
       47.  , 47.3 , 47.02, 48.36, 49.47, 50.3 , 50.54, 50.25, 50.99,
       51.14, 51.69, 52.25, 53.06, 53.38, 53.12, 53.19, 52.62, 52.46,
       50.49, 50.26, 49.64, 48.9 , 49.22, 49.22, 48.96, 49.31, 48.83,
       47.65, 47.79, 45.55, 46.23, 46.46, 45.84, 47.28, 47.81, 47.83,
       48.86])

In [80]:
dates = np.array(oil['date'].iloc[1000:1100])
oil_series = pd.Series(oil_array, name = 'oil_series', index=dates)

oil_series

2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_series, Length: 100, dtype: float64

In [114]:
month_march = oil_series.index.str[5:7].astype('int') == 3
month_march

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False])

In [116]:
march_sales = oil_series[month_march]
march_sales

2017-03-01    53.82
2017-03-02    52.63
2017-03-03    53.33
2017-03-06    53.19
2017-03-07    52.68
2017-03-08    49.83
2017-03-09    48.75
2017-03-10    48.05
2017-03-13    47.95
2017-03-14    47.24
2017-03-15    48.34
2017-03-16    48.30
2017-03-17    48.34
2017-03-20    47.79
2017-03-21    47.02
2017-03-22    47.29
2017-03-23    47.00
2017-03-24    47.30
2017-03-27    47.02
2017-03-28    48.36
2017-03-29    49.47
2017-03-30    50.30
2017-03-31    50.54
Name: oil_series, dtype: float64

In [118]:
march_sales.sum().round(2)

1134.54

In [120]:
march_sales.mean().round(2)

49.33

In [124]:
month_jan_feb = oil_series.index.str[5:7].astype('int').isin([1, 2])
month_jan_feb

array([False, False, False, False, False, False, False, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False])

In [126]:
sales_jan_feb = oil_series[month_jan_feb]
sales_jan_feb

2017-01-03    52.36
2017-01-04    53.26
2017-01-05    53.77
2017-01-06    53.98
2017-01-09    51.95
2017-01-10    50.82
2017-01-11    52.19
2017-01-12    53.01
2017-01-13    52.36
2017-01-17    52.45
2017-01-18    51.12
2017-01-19    51.39
2017-01-20    52.33
2017-01-23    52.77
2017-01-24    52.38
2017-01-25    52.14
2017-01-26    53.24
2017-01-27    53.18
2017-01-30    52.63
2017-01-31    52.75
2017-02-01    53.90
2017-02-02    53.55
2017-02-03    53.81
2017-02-06    53.01
2017-02-07    52.19
2017-02-08    52.37
2017-02-09    52.99
2017-02-10    53.84
2017-02-13    52.96
2017-02-14    53.21
2017-02-15    53.11
2017-02-16    53.41
2017-02-17    53.41
2017-02-21    54.02
2017-02-22    53.61
2017-02-23    54.48
2017-02-24    53.99
2017-02-27    54.04
2017-02-28    54.00
Name: oil_series, dtype: float64

In [128]:
sales_jan_feb.count()

39

In [134]:
oil_series.quantile([0.1, 0.9])

0.1    47.299
0.9    53.811
Name: oil_series, dtype: float64

In [150]:
oil_series.astype(int).value_counts(normalize=True)

oil_series
53    0.26
52    0.22
47    0.13
48    0.10
51    0.07
50    0.07
49    0.06
54    0.05
45    0.02
46    0.02
Name: proportion, dtype: float64

## Missing Data

### Identifying Missing Data

#### Fixing Missing Data

In [157]:
import pandas as pd
import numpy as np

In [159]:
my_series = pd.Series([np.NaN] * 5)

In [161]:
my_series

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
dtype: float64

In [167]:
my_series.isna().sum()

5

In [169]:
my_series.astype('int')

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [171]:
my_series = pd.Series([pd.NA] * 5)
my_series

0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
dtype: object

In [173]:
my_series.astype('Int64')

0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
dtype: Int64

In [177]:
my_series = my_series.astype('Int64')
my_series

0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
dtype: Int64

In [181]:
my_series.value_counts(dropna=False)

<NA>    5
Name: count, dtype: Int64

In [229]:
my_series = pd.Series(range(5))
my_series

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [231]:
my_series.loc[1:2] = pd.NA

In [233]:
my_series

0    0.0
1    NaN
2    NaN
3    3.0
4    4.0
dtype: float64

In [235]:
my_series.isna()

0    False
1     True
2     True
3    False
4    False
dtype: bool

In [237]:
my_series.value_counts(dropna=False)

NaN    2
0.0    1
3.0    1
4.0    1
Name: count, dtype: int64

In [240]:
my_series.fillna(0)

0    0.0
1    0.0
2    0.0
3    3.0
4    4.0
dtype: float64

In [244]:
my_series.fillna(my_series.mean())

0    0.000000
1    2.333333
2    2.333333
3    3.000000
4    4.000000
dtype: float64

In [252]:
my_series.dropna().reset_index(drop=True)

0    0.0
1    3.0
2    4.0
dtype: float64

#### Demo

In [300]:
import pandas as pd
import numpy as np

# Provided list of ages with missing values and an outlier
age_data = pd.Series([25, np.nan, 30, 45, 110, 37, np.nan, 42, np.nan, 52])

# Calculate the number of missing values
missing_count = age_data.isna().sum()
print(missing_count)
# Calculate the median of the age data including the outlier
median_age = age_data.median()
print(median_age)

# Fill missing values with the median age
age_data_filled = age_data.fillna(age_data.median())
print(age_data_filled)

3
42.0
0     25.0
1     42.0
2     30.0
3     45.0
4    110.0
5     37.0
6     42.0
7     42.0
8     42.0
9     52.0
dtype: float64

#### Assignment 8

In [304]:
# Fill in two values with missing data

oil_series = oil_series.where(~oil_series.isin([51.44, 47.83]), pd.NA)
oil_series

2016-12-20    52.22
2016-12-21      NaN
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12      NaN
2017-05-15    48.86
Name: oil_series, Length: 100, dtype: float64

In [308]:
oil_series.isna().sum()

2

In [310]:
oil_series.fillna(oil_series.median())

2016-12-20    52.220
2016-12-21    52.205
2016-12-22    51.980
2016-12-23    52.010
2016-12-27    52.820
               ...
2017-05-09    45.840
2017-05-10    47.280
2017-05-11    47.810
2017-05-12    52.205
2017-05-15    48.860
Name: oil_series, Length: 100, dtype: float64

## Applying Custom Functions to Series

In [313]:
string_series = pd.Series(['day 0', 'day 0', 'day 2', 'day 2', 'day 4'])

string_series

0    day 0
1    day 0
2    day 2
3    day 2
4    day 4
dtype: object

In [315]:
string_series.apply(lambda x: x[-1])

0    0
1    0
2    2
3    2
4    4
dtype: object

In [317]:
string_series.str[-1]

0    0
1    0
2    2
3    2
4    4
dtype: object

In [319]:
def search(string, looking_for):
    if looking_for in string:
        return 'Found It!'
    return 'Nope'

In [321]:
string_series.apply(search, args='2')

0         Nope
1         Nope
2    Found It!
3    Found It!
4         Nope
dtype: object

## Pandas Where Method

In [325]:
string_series = pd.Series(['day 0', 'day 0', 'day 2', 'day 2', 'day 4'])

string_series

0    day 0
1    day 0
2    day 2
3    day 2
4    day 4
dtype: object

In [327]:
string_series.apply(lambda x: x[-1])

0    0
1    0
2    2
3    2
4    4
dtype: object

In [329]:
def search(string, looking_for):
    if looking_for in string:
        return 'Found It!'
    return 'Nope'

In [331]:
string_series.apply(search, args='2')

0         Nope
1         Nope
2    Found It!
3    Found It!
4         Nope
dtype: object

In [338]:
string_series.where(string_series.str.contains('2'), 'Nope!').where(~string_series.str.contains('2'), 'Found It!')

0        Nope!
1        Nope!
2    Found It!
3    Found It!
4        Nope!
dtype: object

In [342]:
pd.Series(np.where(string_series.str.contains('2'), 'Found It!', 'Nope!'))

0        Nope!
1        Nope!
2    Found It!
3    Found It!
4        Nope!
dtype: object

### Demo

In [378]:
import pandas as pd

# Provided series of ages
ages = pd.Series([16, 21, 15, 25, 14, 19, 22, 17, 13, 20])

# Use the Pandas .where() function to classify ages
# Anyone 18 or older is classified as "Adult", otherwise "Teen"
age_groups = ages.where(ages < 18, 'Adult').where(ages >= 18, 'Teen')


# Output the result
age_groups

0     Teen
1    Adult
2     Teen
3    Adult
4     Teen
5    Adult
6    Adult
7     Teen
8     Teen
9    Adult
dtype: object

### Assignment 9

In [381]:
# Fill in two values with missing data

oil_series = oil_series.where(~oil_series.isin([51.44, 47.83]), pd.NA)
oil_series

2016-12-20    52.22
2016-12-21      NaN
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12      NaN
2017-05-15    48.86
Name: oil_series, Length: 100, dtype: float64

In [433]:
oil_series.where(oil_series < oil_series.quantile(0.9), 'Wait').where(~(oil_series < oil_series.quantile(0.9)) | oil_series.isna(), 'Buy')

2016-12-20     Buy
2016-12-21    Wait
2016-12-22     Buy
2016-12-23     Buy
2016-12-27     Buy
              ...
2017-05-09     Buy
2017-05-10     Buy
2017-05-11     Buy
2017-05-12    Wait
2017-05-15     Buy
Name: oil_series, Length: 100, dtype: object

In [457]:
mask = (oil_series.index == '2016-12-23') | (oil_series.index == '2017-05-10')
oil_series.where(mask, oil_series.values * 1.1).where(~mask, oil_series.values * 0.9)

2016-12-20    57.442
2016-12-21       NaN
2016-12-22    57.178
2016-12-23    46.809
2016-12-27    58.102
               ...
2017-05-09    50.424
2017-05-10    42.552
2017-05-11    52.591
2017-05-12       NaN
2017-05-15    53.746
Name: oil_series, Length: 100, dtype: float64